*{
    margin:0;
    font-family: Arial;
    border : border-box;
}
.navbar
{
    height: 60px;
    display: flex;
    color: white;
    align-items: center;
    background-color: #0f1111;
    justify-content: space-evenly;
}

/* box1 amazon logo */
.nav-logo
{
    height: 50px;
    width: 100px;
    cursor: pointer;
}
.logo
{
    width: 100%;
    height: 50px;
    background-size: cover;
    background-image: url(amazon_logo.png);
}
.border
{
    border: 1.5px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
}

/* box 2 for adrress part  */
.nav-address
{
    cursor: pointer;
}
.add-first
{
    color: #cccccc;
    margin-left: 15px;
    font-size:0.85rem ;
}
.add-second
{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon
{
    display: flex;
}

/* box 3 for searching */
.nav-search
{
    height: 40px;
    width: 800px;
    display: flex;
    border-radius: 5px;
    justify-content: space-evenly;
}
.search-select
{
    width: 50px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-input
{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon
{
    width: 45px;
    display: flex;
    cursor: pointer;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    background-color: #fedb68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}
